/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


    .col {   
        float: left;
        margin: 3px .075%;
        position: relative;

        &.first { margin-right: .15%; margin-left: 0%; }    
        &.last { margin-left: .15%; margin-right: 0%; }
       
        &:hover { .client-overlay { opacity: 1; } }
    }   

    .row-odd {
        .col {
            width: 49.85%;
        }
     }

     .row-even {
         .col {
             width: 33.18%;
         }
     }
